POSTGRES_DB=ats
POSTGRES_USER=ats_user
POSTGRES_PASSWORD=ats_password

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

REDPANDA_BROKERS=localhost:9092
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MINIO_ENDPOINT=localhost:9000
